DATABASE__URL=postgresql+asyncpg://postgres:pass@localhost:5432/infinity
REDIS__HOST=localhost
JWT__SECRET_KEY=my-super-secret
S3__ENDPOINT_URL=http://localhost:9000
S3__BUCKET=textures
S3__ACCESS_KEY=minioadmin
S3__SECRET_KEY=minioadmin
S3__PUBLIC_BASE_URL=http://localhost:9000/textures
S3__REGION=ru-1
SMTP__HOST=smtp.mail.selcloud.ru
SMTP__PORT=1127
SMTP__USERNAME=bot@gmail.com
SMTP__PASSWORD=app-password
SMTP__FROM_EMAIL=noreply@infinityserver.ru
SECRETS__CI_TOKEN=123456
RSA__PRIVATE_KEY_PEM="-----BEGIN RSA PRIVATE KEY-----\n..."